.user-content{
    margin: 0px auto;
    width: 980px;
    text-align: left;
    
	margin-top:60px;
	margin-left:15%;
}

.user-content-main{}

#panel-search-right{float: right}

#panel-col-left{
	float: left;
	padding-top: 10px;
	padding-left: 1px;
	font-size: 16px;
}

.operation-inline{display: inline;}

#speace{margin-right: 10px;}

#user-op a{text-decoration: none;}

 form{
 	margin-left: 50px;
 	margin-right: 360px;
 }

 #input-group-margin{margin-bottom:10px;}

 .setting-title{margin-left: 60px;}

 table a{color:#000000;}

 .paging{margin-top: -21px;}